body {
  font-family: Georgia, serif;
  max-width: 70rem;
  margin-left: 10px;
  margin-right: 10px;
}

header {
  background-color: cornsilk;
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}

img {
  width: 70rem ;
}

.caption {
  font-style: italic;
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}

h1 {
  font-style: bold;
  font-size: 40px;
  text-transform: capitalize;
}

h2 {
  font-size: 20px;
  margin-bottom: 1.5rem;

}

p {
  font-size: 20px;
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
a {
 outline: none;
 text-decoration: none;
 padding: 2px 1px 0;
}

a:link{
  color:goldenrod;
}

a:visited{
  color:crimson;
}